body {
    background-color: #F1F2F4;
    /* color : white; */
    padding:  30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin : 0 auto;

}

a {
    text-decoration: none;
    color: #008AD3;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-img {
    width : 120px;
    height : 120px;
    object-fit: cover;
    margin-right : 20px;
}

.group {
    margin : 20px 0px;
}

.profile .name {
    margin-bottom : 10px;
}

.font-bold {
    font-weight: bold;
}

.font-12 {
    font-size: 12px;
}
.font-14 {
    font-size: 14px;
}
.font-16 {
    font-size: 16px;
}
.font-18 {
    font-size: 18px;
}

.shadow {
  box-shadow: 0px 10px 20px rgb(55 55 89 / 8%);
}

.widget-card {
    background: #fff;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 15px 25px;
    box-shadow: 0px 10px 20px rgb(55 55 89 / 8%);
}

.portfolio .categori {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.portfolio .item-categori {
    font-size : 16px;
    color : #000;
    margin-right : 15px;
}

.portfolio .item-categori-selected {
    font-size : 16px;
    color : #008AD3;
    margin-right : 15px;
    font-weight : bold;
    border-bottom : 3px solid #008AD3;
}

.image-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.image-gallery .item-img {
    max-width: 30%;
    height: auto;
    object-fit: contain;
    margin-bottom : 20px;
    margin-right : 20px;
    border-radius : 5px;
    /* box-shadow: 0 4px 25px rgb(14 36 49 / 15%); */
    box-shadow: 0px 10px 20px rgb(55 55 89 / 8%);
}